// Colors

@use "sass:color";

$colors: (
  "red": #dc3545,
  "grey": #6c757d,
  "blue": #3a575a,
  "white": #fff,
  "black": #000,
  "purple": #c026d3,
  "yellow": #f7f023,
  "green": #09cb2c,
  "primary": #2a767d,
  "secondary": #3e900b,
  "accent": #dc3545,
  "text-color": #000000,
  "shadow-color": rgba(0, 0, 0, 0.1),
  // pour l'exo...
  "neutral": #0b242b,
  "nav-color": #ffffff,
  "nav-text": #013e41,
  "dark-grey": #587e7e,
  "eternal-white": #fff,
  "path-color": #000000,
  "input-color": #fff,
);

$colors-dark: (
  "red": #e63946,
  "grey": #adb5bd,
  "blue": #0b242b,
  "white": #313435,
  "black": #cacaca,
  "purple": #9b30ff,
  "yellow": #e6c229,
  "green": #00b140,
  "primary": #0d2929,
  "secondary": #0d2929,
  "accent": #501117,
  "text-color": #ffffff,
  "shadow-color": rgba(255, 255, 255, 0.1),
  "neutral": #1e1e1e,
  "nav-color": #313435,
  "nav-text": #c7c7c7,
  "dark-grey": #3e5a5a,
  "eternal-white": #fff,
  "path-color": #fff,
  "input-color": #fff,
);

$shades: (
  950: 8%,
  900: 16%,
  800: 24%,
  700: 32%,
  600: 40%,
  500: 48%,
  400: 56%,
  300: 64%,
  200: 73%,
  100: 82%,
  50: 92%,
);

// Breakpoints

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);
