@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
	.apropos {
		margin: 1rem auto;
		& a{
			@include m.resetA;
			@include m.resetButton;

			text-decoration:underline;
			&:hover{
				text-decoration:none;
				color: var(--primary-800);
			}
		}
		&--content--text{
			display: flex;
			justify-content: center;
			flex-direction: column;
			color: var(--black);
			max-width: 50rem;
		}
		&--content--image{
			display: flex;
			justify-content: center;
			max-width:50rem ;
		}
		&--item--revers {
			display: flex;
			justify-content: center;
			flex-direction: row-reverse;
		}
		@media (width <= f.screen(md)) {
			padding: 1rem ;
			
			&--item--revers {
				// display: flex;
				justify-content: center;
				flex-direction: column;
			}
		}	
	}
}
