@use "../partials/functions" as f;
@use "../partials/mixins" as m;
@layer components {
	body .button {
		@include m.resetA;
		@include m.resetButton;
		padding: f.rem(10) f.rem(16);
		display: inline-block;
		background-color: var(--white);
		color: var(--white);
		font-size: f.rem(16);
		line-height: f.rem(18);
		font-weight: 600;
		transition: all 0.3s;
		margin: 1rem 0;
		text-align: center;
		&:hover {
			background-color: var(--black-hover);
		}
		// classes modificatrices de couleur
		&--primary {
			background-color: var(--primary-800);
			&:hover {
				background-color: var(--primary-600);
			}
		}
		&--secondary {
			background-color: var(--secondary-800);
			&:hover {
				background-color: var(--secondary-600);
			}
		}
		&--danger {
			background-color: var(--red-500);
			&:hover {
				background-color: var(--red-400);
			}
		}
		// classes modificatrices de taille
		&--lg {
			padding: f.rem(16) f.rem(24);
		}
		&--sm {
			padding: f.rem(8) f.rem(12);
			font-size: f.rem(14);
			line-height: f.rem(16);
			max-width: f.rem(200);
		}
	}
	.Button_2 {

		padding: f.rem(10) f.rem(16);
		display: inline-block;
		color: var(--black);
		font-size: f.rem(16);
		line-height: f.rem(18);
		font-weight: 600;
		transition: all 0.3s;
		text-decoration
		&:hover {
			color: var(--primary-800);
		}
	}
}
