@use "../partials/variables" as v;
@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer base {
  /* Surcharge du body en mode sombre */
  body.dark-mode {
    background-color: var(--grey-900); // ou une autre couleur sombre choisie
    color: var(--white);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

@layer components {
  /* la navbar */
  body.dark-mode .navbar {
    background-color: var(--grey-900); // par exemple, une teinte plus sombre
    color: var(--grey-50);
  }

  body.dark-mode .logo {
    fill: var(--white) !important;
  }

  /*  les boutons */
  body.dark-mode .button {
    background-color: var(--grey-800);
    color: var(--white);
    transition: background-color 0.3s ease, opacity 0.3s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}
