@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {

		/*==================== FOOTER ====================*/
.grid-footer{
	display: grid;
	/* gap: 1.5rem; */
  }
  .footer{
	a{
		@include m.resetA;
		color: var(--white);
		font-weight: 300;
	}
  }
  
  .footer__container{
	/* row-gap: 3.5rem; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
  
  }
  
  .footer__bg{
	background-color: var(--primary);
	padding: 2rem 0 3rem;
	justify-content: center;
	align-items: center;
  }
  
  .footer__title{
   background: url("/frontend/asset/G.svg");
   width: 20.5rem;
   height: 3.6rem;
  }
  
  .footer__subtitle{
	font-size: var(--small-font-size);
  }
  .footer__header{
	color: white;
	font-size: var(--p-font);
  }
  .footer__links{
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
	// align-items: flex-start;
  }
  .footer__links ul {
   
  list-style-type: none;
	  
  }
  
  .footer__link:hover{
	color: var(--first-color-lighter);
  }
  
  .footer__social{
	font-size: 1.25rem;
	margin-right: var(--mb-1-5);
  }
  
  .footer__social:hover{
	color: var(--first-color-lighter);
  }
  
  .footer__copy{
	font-size: var(--p-font);
	text-align: center;
	color: #FFF;
	margin-top: 2rem;
  }
  div.top {
  max-width: 30rem;  
	}
  .footer__title,
  .footer__subtitle,
  .footer__link,
  .footer__social{
	color: #FFF;
  }
  .footer__links2{
	display: flex;
  flex-direction: column;
  margin:0 auto;
  padding: 0;
}
  @media screen and (max-width: 932px){
   .footer__container .top{
	display: flex; 
	align-items:center;
	flex-direction: column;
	gap: 1rem;
	}
   .footer__container{
	display: flex; 
	align-items:flex-start;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	}
	.footer__links {
	  display: flex;
	  flex-direction: column;
	  row-gap: 1.5rem;
	  align-items: center;
	  margin:0 auto;
	  padding: 0;


	}
  .footer_left_col form {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-direction: column;
  }
  .footer__container{
  text-align: center;
  
  }
  }
  
  
  
  @media screen and (min-width: 768px){
	 .footer__container{
	  display: flex; 
	  align-items:flex-start;
	  flex-direction: row;
  
	  }
	  
	.footer_left_col{
	  color:white;
	  font-size: var(--p-font);
	}
	.footer_left_col form {
	  display: flex;
	  align-items: flex-end;
	  gap: 1rem;
	  flex-direction: column;}
  
	.footer__bg{
	  padding: 3rem 0 3.5rem;
	}
	.footer__links{
	  flex-direction: row;
	  column-gap: 2rem;
	}
	.footer__socials{
	  justify-self: flex-end;
	}
  
	.footer__copy{
	  margin-top: 4.5rem;
	}
  }
  
  
  .left_col input,.footer_left_col input {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: var(--p-font);
	line-height: 24px;
	background-color: #ffffffe9;
	padding: 10px;
	width: 30rem;
	height: 50px;
	border-radius: .8rem;
	color: #000000;
  
  }
  .left_col input:hover ,.footer_left_col input:hover {
	/* border-color: var(--first-color); */
	background-color: #f7f7f7;
  
  }
}