@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
  .tableau {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem; // Suppression du gap dupliqué
    padding-bottom: 2rem;
    color: var(--nav-text);
  }
  .tableau li.icone {
    cursor: pointer;
  }

  .icone {
    @include m.resetA;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 5rem;
    font-size: 2rem;
    border-radius: 1rem;
    background-color: var(--blue);
    transition: all 0.3s ease; // Ajout d'une transition fluide

    &:hover {
      background-color: var(--primary-500);
      color: var(--white);
      transform: scale(1.05); // Ajout d'un petit effet au survol
    }
    &--lg {
      padding: f.rem(16) f.rem(24);
    }
    &--sm {
      padding: f.rem(8) f.rem(12);
      font-size: f.rem(14);
      line-height: f.rem(16);
      max-width: f.rem(200);
    }
  }
  .icone a {
    text-decoration: none;
    color: inherit;
  }

  .tableaubord--item {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 11px;
  }
}
