@use "../partials/functions" as f;
@use "../partials/mixins" as m;
@layer components {
	.image {
		display: inline-block;
		overflow: hidden;
		object-fit: cover;
		// display: flex;
		// justify-content: center;

		&:hover {
			background-color: var(--black-hover);
		}

		// classes modificatrices de taille
		&--lg {
			@each $prop, $value in f.image-size(50vw, auto) {
				#{$prop}: $value;
			}
		}

		&--md {
			@each $prop, $value in f.image-size(40vw, auto) {
				#{$prop}: $value;
			}
		}

		&--sm {
			@each $prop, $value in f.image-size(10vw, auto) {
				#{$prop}: $value;
			}
		}

		&--square {
			&.image--lg {
				@each $prop, $value in f.image-size(50vw, 50vw) {
					#{$prop}: $value;
				}
			}
	
			&.image--md {
				@each $prop, $value in f.image-size(40vw, 40vw) {
					#{$prop}: $value;
				}
			}
	
			&.image--sm {
				@each $prop, $value in f.image-size(10vw, 10vw) {
					#{$prop}: $value;
				}
			}
		}

		@media (max-width: 768px) {
			&--square {
				&.image--lg {
					@each $prop, $value in f.image-size(100vw, 100vw) {
						#{$prop}: $value;
					}
				}

				&.image--md {
					@each $prop, $value in f.image-size(70vw, 70vw) {
						#{$prop}: $value;
					}
				}

				&.image--sm {
					@each $prop, $value in f.image-size(20vw, 20vw) {
						#{$prop}: $value;
					}
				}
			}
			&--circle {
				@each $prop, $value in f.image-size(50vw, 50vw) {
					#{$prop}: $value;
				}
				border-radius: 50%;
			}
		}
	}
}