@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
  .input {
    display: block;
    font-size: f.rem(16);
    line-height: f.rem(18);
    font-weight: 600;
    border-radius: f.rem(3);
    transition: all 0.3s;
    margin-bottom: f.rem(15);
    width: 100%;
    padding: f.rem(8);
    color: var(--input-color);

    &--label {
      font-weight: bolder;
      width: f.rem(120);
      margin-bottom: f.rem(5);
      display: block; // Sur mobile, le label est au-dessus
    }

    &--div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-bottom: f.rem(10);
    }

    // Classes modificatrices de taille
    &--lg {
      height: f.rem(45);
    }
    &--sm {
      height: f.rem(30);
    }

    &--select {
      background-color: var(--dark-grey);
    }

    // Responsive pour les écrans plus larges (≥ 768px)
    @media (max-width: 768px) {
      &--div {
        flex-direction: column;
        align-items: flex-start;
      }

      &--label {
        width: f.rem(130);
        margin-bottom: 0;
        margin-right: f.rem(10);
        display: inline-block; // Alignement en ligne pour desktop
      }

      .input {
        max-width: 100%; // Évite un input trop large
      }
    }
  }
}
