@use "sass:map";
@use "sass:color";
@use "../partials/mixins" as m;
@use "../partials/functions" as f;
@use "../partials/variables" as v;

@layer components {
  // Wrapper pour permettre le défilement horizontal (optionnel)
  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: map.get(v.$colors, "white");
    border: 1px solid map.get(v.$colors, "black");
    // border-radius: f.rem(1);
    overflow: hidden;
    margin-bottom: f.rem(20);
    // border-color: var(--black);

    thead {
      background-color: var(--dark-grey);
      tr {
        th {
          padding: f.rem(12);
          border: 1px solid map.get(v.$colors, "grey");
          text-align: left;
          font-weight: bold;
          font-size: f.rem(16);
          color: var(--black);
        }
      }
    }

    tbody {
      border: 1px solid map.get(v.$colors, "black");
      tr {
        transition: background-color 0.2s ease;
        border: 1px solid map.get(v.$colors, "black");

        // &:nth-child(even) {
        //   background-color: var(--blue);
        // }

        // &:hover {
        //   background-color: color.adjust(map.get(v.$colors, "neutral"), $lightness: 5%);
        // }

        td {
          padding: f.rem(10);
          border: 1px solid map.get(v.$colors, "black");
          vertical-align: middle;
          font-size: f.rem(14);
          color: var(--blue);
        }

        // Conteneur pour les actions (boutons et sélecteur)
        .table__actions {
          display: flex;
          align-items: center;
          gap: f.rem(10); // espace entre éléments

          // Pour mobile (si besoin d'un empilement vertical)
          @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            gap: f.rem(5);
          }
        }
      }
    }
  }
}
